node_modules
.next
.env
.env.local
secret_backup
dev_output.log
npm-debug.log
yarn-debug.log
yarn-error.log
dev_server.log
production_server.log
test-results/
coverage/
.DS_Store
*.pem
*.log

/app/generated/prisma
tsconfig.tsbuildinfo
tsconfig.typecheck.tsbuildinfo
